.topItem {
  display: flex;
}
.imageTopItem {
  width: 340px;
  height: 150px;
}
.bodyItem {
  /* display: flex; */
  background-color: white;
  width: 33%;
  margin: 10px;
}
.body {
  background-color: #edeaea;
  display: flex;
  flex-direction: column;
  -moz-column-count: 2;
}
.imageBodyItem {
  float: right;
  width: 90px;
  height: 90px;
}
